body {
  font-family: "Raleway";
  color: #000;
  padding: 0;
  margin: 0;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-weight: 500;
}
* {
  box-sizing: border-box;
}

p {
  padding: 0;
  margin: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #000;
}
input,
button {
  outline: none;
}

.header {
  padding-top: 51px;
  padding-bottom: 102px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  align-items: center;
  display: flex;
  text-decoration: none;
  color: #000;
  font-size: 16px;
}
.nav__bar {
  align-items: flex-end;
}
.nav__list {
  display: flex;
}
.nav__point {
  display: block;
}
.nav__point:hover {
  color: #6e9c9f;
  cursor: pointer;
}

.nav__list-link:not(:last-child) {
  margin-right: 45px;
}

.nav__img {
  margin-right: 15px;
}

.nav__contacts {
  display: flex;
  align-items: center;
}

.nav__img-tel {
  margin-right: 15px;
}

.nav__tel-box {
  margin-right: 15px;
  padding: 5px;
  border: 0;
  background: none;
}

.nav__tel-box:hover {
  background: #6e9c9f url(../img/backphone.svg) no-repeat center;
  color: #fff;
}
.nav__basket {
  margin-left: 67px;
}

.contacts-wrapper {
  display: none;
}

.on {
  display: block;
}

.contacts-wrapper__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  z-index: 1;
  background-color: #6e9c9f;
  opacity: 0.5;
}

.contacts-wrapper__window {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 491px;
  height: auto;
  z-index: 2;
  background-color: #fff;
  padding: 70px;
  transform: translate(0, -50%);
  text-align: center;
}

.contacts-wrapper__title {
  margin-bottom: 35px;
  font-size: 25px;
}

.wrapper-contacts__input {
  padding-bottom: 16px;
  border: 0;
  border-bottom: 1px solid #000;
  width: 350px;
}

.wrapper-contacts__form {
  margin-bottom: 35px;
}

.contacts-wrapper__link {
  padding: 22px 108px;
  color: #fff;
  background: #6e9c9f;
  display: block;
}

.contacts-wrapper__link:hover {
  background: #509498;
  transition: 0.5s;
}

.body-fixed {
  overflow: hidden;
  padding-right: 16px;
}

.agreed {
  display: none;
}

.ok {
  display: block;
}

.agreed__window {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 491px;
  height: 279px;
  z-index: 2;
  background: #fff;
  padding: 70px;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.agreed__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  z-index: 1;
  background-color: #6e9c9f;
  opacity: 0.5;
}

.agreed__btn {
  background: #fff;
  border: 1px solid #6e9c9f;
  padding: 22px 50px;
  margin-top: 40px;
  display: block;
  color: #6e9c9f;
}

.head {
  margin-top: 196px;
}

.head__title {
  font-weight: 500;
  font-size: 55px;
}
.head__links {
  display: flex;
  margin-top: 26px;
}

.head__link:not(:last-child) {
  margin-right: 13px;
}

.get {
  color: #909090;
}
.head__link:not(:last-child):hover {
  color: #6e9c9f;
}
.head__link:nth-of-type(2) {
  color: #919191;
}

.box__titles {
  border-bottom: 1px solid #ccc;
  padding-bottom: 26px;
  display: flex;
  margin-bottom: 49px;
}

.submit {
  padding-bottom: 130px;
}
.box__title {
  font-size: 20px;
}

.box__title:nth-of-type(1) {
  margin-right: 416px;
}

.box__title:nth-of-type(2) {
  margin-right: 139px;
}

.box__title:nth-of-type(3) {
  margin-right: 167px;
}

.box__prcice {
  display: flex;
  align-items: center;
}

.box__img-one {
  background: #fff;
  border: 0;
}

.box-img-two {
  margin-left: 34px;
  margin-right: 36px;
}

.box__span:nth-of-type(1) {
  margin-right: 155px;
}

.box__span:nth-of-type(2) {
  margin-right: 155px;
}

.box__span-input {
  margin-right: 219px;
  border: 1px solid #998e78;
  padding: 8px 18px 11px 18px;
  width: 48px;
  height: 48px;
  text-align: center;
  font-size: 17px;
}

.box__coupon {
  display: flex;
  margin-top: 77px;
  align-items: flex-end;
}

.box__form {
  border: none;
  margin-right: 16px;
}

.box__input {
  border: 0;
  border-bottom: 1px solid #000;
  padding-bottom: 23px;
  width: 255px;
}

.box__btn {
  padding: 22px 50px;
  background: #fff;
  border: 1px solid #6e9c9f;
  color: #6e9c9f;
}

.box__btn:nth-of-type(1) {
  margin-right: 337px;
}
.box__result {
  display: flex;
  flex-direction: column;
  margin-top: 88px;
  margin-left: auto;
  width: 538px;
}

.box__result-div {
  display: flex;
}

.box__result-box {
  display: flex;
  background: #f1eadc;
  padding: 17px 51px 17px 31px;
  align-items: center;
  margin-right: 15px;
}

.box__result-text {
  margin-right: 69px;
  font-size: 25px;
}

.box__result-span {
  font-size: 17px;
  margin-bottom: 28px;
  margin-right: auto;
}

.box__result-box-span {
  font-size: 25px;
}

.box__result-link {
  color: #fff;
  background: #6e9c9f;
  padding: 22px 50px;
}

.box__result-link:hover {
  background: #509498;
  transition: 0.5s;
}

.footer {
  background: #f1eadc;
  padding-top: 101px;
  padding-bottom: 103px;
}

.wrap {
  display: flex;
  justify-content: space-between;
}

.wrap__rights-logo {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
}
.wrap__contacts {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.wrap__contacts-link {
  display: block;
  margin-bottom: 9px;
  margin-left: auto;
}
.wrap__contacts-images {
  display: flex;
  margin-top: 30px;
  margin-left: auto;
}
.wrap__contacts-img:not(:last-child) {
  margin-right: 17px;
}
.wrap__contacts-pay {
  margin-top: 31px;
}
.wrap__rigts-spans {
  margin-top: 70px;
}

.wrap__rights-span {
  display: block;
}

.wrap__rights-span:not(:last-child) {
  margin-bottom: 6px;
}

.wrap__rights-logo-img {
  margin-right: 15px;
}

.wrap__lists-one {
  display: flex;
}

.wrap__lists-point {
  display: flex;
  flex-direction: column;
  font-size: 21px;
}

.wrapp:hover {
  color: #6e9c9f;
  cursor: pointer;
  border-bottom: 1px solid #6e9c9f;
  padding-bottom: 5px;
}

.wrap__lists-box {
  margin-top: 39px;
  max-width: 67px;
}

.wrap__lists-link:not(:last-child) {
  margin-right: 45px;
}

.wrap__lists-link:first-child {
  color: #6e9c9f;
}

.wrap__lists-box-point {
  display: block;
  font-size: 13px;
}

.wrap__lists-box-point:not(:last-child) {
  margin-bottom: 10px;
}

.wrap__lists-box-point:hover {
  color: #6e9c9f;
  cursor: pointer;
}

.wrap__contacts-pay {
  width: 68px;
  height: 22px;
  margin-left: auto;
}

@media (max-width: 1199px) {
  .container {
    width: 960px;
  }
  .box__btn {
    padding: 22px 30px;
  }
}

@media (max-width: 991px) {
  .container {
    width: 720px;
  }
  .nav__list-link:not(:last-child) {
    margin-right: 20px;
  }
  .nav__basket {
    margin-left: 35px;
  }
  .wrap__rights-logo {
    justify-content: center;
  }
  .wrap__lists-link:not(:last-child) {
    margin-right: 20px;
  }
  .wrap__lists-box {
    margin-left: 0;
  }
  .wrap {
    flex-direction: column;
    text-align: center;
  }
  .wrap__lists {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    order: 1;
  }
  .wrap__contacts-images {
    display: block;
  }
  .wrap__contacts {
    display: block;
    margin-top: 30px;
    order: 2;
  }
  .wrap__rights {
    margin-top: 30px;
    order: 3;
  }

  .box__result {
    margin-left: 0;
  }

  .box-img-two {
    width: 100px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .box__title:nth-of-type(1) {
    margin-right: 260px;
  }

  .box__title:nth-of-type(2) {
    margin-right: 60px;
  }

  .box__title:nth-of-type(3) {
    margin-right: 60px;
  }

  .box__span:nth-of-type(1) {
    margin-right: 60px;
  }

  .box__span:nth-of-type(2) {
    margin-right: 65px;
  }

  .box__span:nth-of-type(3) {
    margin-right: 120px;
  }

  .box__btn:nth-of-type(1) {
    margin-right: 100px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 540px;
  }
  .nav__bar {
    display: none;
  }

  .box-img-two {
    width: 80px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .box__title:nth-of-type(1) {
    margin-right: 160px;
  }

  .box__title:nth-of-type(2) {
    margin-right: 40px;
  }

  .box__span:nth-of-type(1) {
    font-size: 14px;
    margin-right: 10px;
  }

  .box__span:nth-of-type(3) {
    margin-right: 100px;
  }

  .box__btn:nth-of-type(1) {
    margin-right: 80px;
  }
  .box__input {
    width: 155px;
  }
  .box__btn {
    padding: 15px 10px;
  }
}

@media (max-width: 575px) {
  .container {
    padding: 0 15px;
    width: 100%;
  }
  .nav__contacts {
    display: none;
  }
  .head__link:not(:last-child) {
    margin-right: 10px;
  }
  .head__title {
    font-size: 35px;
  }

  .wrap__lists-one {
    flex-direction: column;
  }

  .wrap__lists-link:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .head__link:not(:last-child) {
    margin-right: 0;
  }
  .head__link {
    font-size: 13px;
  }

  .box__result-box {
    padding: 17px 31px 17px 21px;
  }

  .box__result {
    width: 100%;
  }

  .box__result-link {
    padding: 20px 15px;
  }
  .box__result-div {
    flex-direction: column;
  }
  .box__result-box {
    width: 230px;
  }
  .box__result-link {
    width: 230px;
    text-align: center;
    margin-top: 20px;
  }
  .box__coupon {
    flex-direction: column;
    align-items: unset;
  }
  .box__btn {
    width: 230px;
    margin-top: 20px;
  }
  .box-img-two {
    display: none;
  }

  .box__title:nth-of-type(1) {
    margin-right: 20px;
  }
  .box__title {
    font-size: 15px;
  }

  .box__title:nth-of-type(3) {
    margin-right: 10px;
  }

  .box__title:nth-of-type(2) {
    margin-right: 20px;
  }

  .box__titles {
    width: 240px;
  }

  .box__span {
    font-size: 15px;
  }

  .box__span:nth-of-type(2) {
    margin-right: 25px;
  }

  .box__span:nth-of-type(3) {
    margin-right: 20px;
    padding: 5px 9px;
  }

  .box__titles {
    width: 100%;
    justify-content: space-between;
  }
}
