body {
  font-family: "Raleway";
  color: #000;
  padding: 0;
  margin: 0;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-weight: 500;
}
* {
  box-sizing: border-box;
}

p {
  padding: 0;
  margin: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #000;
}
input,
button {
  outline: none;
}
.form-input {
  padding-bottom: 16px;
  border: 0;
  border-bottom: 1px solid #000;
  width: 350px;
  padding-top: 35px;
}
.header {
  padding-top: 51px;
  padding-bottom: 220px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  align-items: center;
  display: flex;
  text-decoration: none;
  color: #000;
  font-size: 16px;
}
.nav__bar {
  align-items: flex-end;
}
.nav__list {
  display: flex;
}
.nav__point {
  display: block;
}
.nav__point:hover {
  color: #6e9c9f;
  cursor: pointer;
}

.nav__list-link:not(:last-child) {
  margin-right: 45px;
}

.nav__img {
  margin-right: 15px;
}

.nav__contacts {
  display: flex;
  align-items: center;
}

.nav__img-tel {
  margin-right: 15px;
}

.nav__tel-box {
  margin-right: 15px;
  padding: 5px;
  border: 0;
  background: none;
}

.nav__tel-box:hover {
  background: #6e9c9f url(../img/backphone.svg) no-repeat center;
  color: #fff;
}

.nav__basket {
  margin-left: 67px;
}

.contacts-wrapper {
  display: none;
}

.on {
  display: block;
}

.contacts-wrapper__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  z-index: 1;
  background-color: #6e9c9f;
  opacity: 0.5;
}

.contacts-wrapper__window {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 491px;
  height: auto;
  z-index: 2;
  background-color: #fff;
  padding: 70px;
  transform: translate(0, -50%);
  text-align: center;
}

.contacts-wrapper__title {
  margin-bottom: 35px;
  font-size: 25px;
}

.wrapper-contacts__input {
  padding-bottom: 16px;
  border: 0;
  border-bottom: 1px solid #000;
  width: 350px;
}

.wrapper-contacts__form {
  margin-bottom: 35px;
}

.contacts-wrapper__link {
  padding: 22px 108px;
  color: #fff;
  background: #6e9c9f;
  display: block;
}

.contacts-wrapper__link:hover {
  background: #509498;
  transition: 0.5s;
}

.body-fixed {
  overflow: hidden;
  padding-right: 16px;
}

.agreed {
  display: none;
}

.ok {
  display: block;
}

.agreed__window {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 491px;
  height: 279px;
  z-index: 2;
  background: #fff;
  padding: 70px;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.agreed__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  z-index: 1;
  background-color: #6e9c9f;
  opacity: 0.5;
}

.agreed__btn {
  background: #fff;
  border: 1px solid #6e9c9f;
  padding: 22px 50px;
  margin-top: 40px;
  display: block;
  color: #6e9c9f;
}

.head {
  margin-top: 196px;
}

.head__title {
  font-weight: 500;
  font-size: 55px;
}
.head__links {
  display: flex;
  margin-top: 26px;
}

.head__link:not(:last-child) {
  margin-right: 13px;
}

.get {
  color: #909090;
}
.head__link:not(:last-child):hover {
  color: #6e9c9f;
}
.head__link:nth-of-type(2) {
  color: #919191;
}

.footer {
  background: #f1eadc;
  padding-top: 101px;
  padding-bottom: 103px;
}

.wrap {
  display: flex;
  justify-content: space-between;
}

.wrap__rights-logo {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
}
.wrap__contacts {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.wrap__contacts-link {
  display: block;
  margin-bottom: 9px;
  margin-left: auto;
}
.wrap__contacts-images {
  display: flex;
  margin-top: 30px;
  margin-left: auto;
}
.wrap__contacts-img:not(:last-child) {
  margin-right: 17px;
}
.wrap__contacts-pay {
  margin-top: 31px;
}
.wrap__rigts-spans {
  margin-top: 70px;
}

.wrap__rights-span {
  display: block;
}

.wrap__rights-span:not(:last-child) {
  margin-bottom: 6px;
}

.wrap__rights-logo-img {
  margin-right: 15px;
}

.wrap__lists-one {
  display: flex;
}

.wrap__lists-point {
  display: flex;
  flex-direction: column;
  font-size: 21px;
}

.wrapp:hover {
  color: #6e9c9f;
  cursor: pointer;
  border-bottom: 1px solid #6e9c9f;
  padding-bottom: 5px;
}

.wrap__lists-box {
  margin-top: 39px;
  max-width: 67px;
}

.wrap__lists-link:not(:last-child) {
  margin-right: 45px;
}

.wrap__lists-link:first-child {
  color: #6e9c9f;
}

.wrap__lists-box-point {
  display: block;
  font-size: 13px;
}

.wrap__lists-box-point:not(:last-child) {
  margin-bottom: 10px;
}

.wrap__lists-box-point:hover {
  color: #6e9c9f;
  cursor: pointer;
}

.wrap__contacts-pay {
  width: 68px;
  height: 22px;
  margin-left: auto;
}
.form {
  padding-bottom: 130px;
}
.forms {
  display: flex;

  flex-wrap: wrap;
}

.forms__data {
  display: flex;
  flex-direction: column;
}

.forms__data-title {
  font-weight: 500;
  font-size: 25px;
}
.forms__data-input {
  padding-bottom: 16px;
  border: 0;
  border-bottom: 1px solid #000;
  width: 350px;
  padding-top: 35px;
}
.forms__price-title {
  margin-left: 18px;
  font-weight: 500;
  font-size: 25px;
}
.forms__price-box {
  display: flex;
  justify-content: space-between;
  padding: 15px 18px 14px 18px;
}
.forms__price {
  width: 284px;
  margin-left: 295px;
}

.forms__adress {
  display: flex;
  flex-direction: column;
}

.forms__adress-title {
  font-weight: 500;
  font-size: 25px;
}

.forms__coments-title {
  font-weight: 500;
  font-size: 25px;
}

.forms__payment-title .one {
  margin-top: 47px;
}
.four {
  background: #f1eadc;
}
.forms__adress {
  margin-top: 81px;
}

.forms__payment {
  margin-top: 145px;
  margin-left: 295px;
}
.forms__payment-box {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
}

.forms__payment-box-div {
  display: flex;
  justify-content: left;
  position: relative;

  align-items: center;
}

.forms__payment-box-input {
  display: none;
}

.forms__payment-box-div:nth-of-type(2) {
  margin-top: 10px;
}
.label-svg {
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 2px solid black;
  position: relative;
  margin-right: 20px;
}

.label-svg::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 10px;
  height: 10px;
  background-color: #000;
  opacity: 0;
  transition: 0.5s;
}

.forms__payment-box-input:checked + .label-svg:before {
  opacity: 1;
}

.forms__payment-text {
  margin-left: 14px;
}
.forms__payment-btn {
  padding: 22px 50px;
  color: #fff;
  background: #6e9c9f;
  border: 1px solid #6e9c9f;
  margin-top: 47px;
}
.forms__coments-input {
  padding-bottom: 110px;
  border: 0;
  border-bottom: 1px solid black;
  width: 250px;
  margin-top: 47px;
  font-size: 17px;
}
.forms__coments {
  margin-top: 81px;
}

@media (max-width: 1199px) {
  .container {
    width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    width: 720px;
  }
  .nav__list-link:not(:last-child) {
    margin-right: 20px;
  }
  .nav__basket {
    margin-left: 35px;
  }
  .wrap__rights-logo {
    justify-content: center;
  }
  .wrap__lists-link:not(:last-child) {
    margin-right: 20px;
  }
  .wrap__lists-box {
    margin-left: 0;
  }
  .wrap {
    flex-direction: column;
    text-align: center;
  }
  .wrap__lists {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    order: 1;
  }
  .wrap__contacts-images {
    display: block;
  }
  .wrap__contacts {
    display: block;
    margin-top: 30px;
    order: 2;
  }
  .wrap__rights {
    margin-top: 30px;
    order: 3;
  }

  .forms__price {
    margin-left: 80px;
  }

  .forms__payment {
    margin-left: 80px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 540px;
  }
  .nav__bar {
    display: none;
  }
  .forms__price {
    margin-left: 0;

    order: 3;
    margin: 0 auto;
    margin-top: 81px;
  }

  .forms__payment {
    margin-left: 0;
    order: 4;
    margin: 0 auto;
    margin-top: 81px;
  }
  .forms {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .forms__data {
    order: 1;
  }

  .forms__adress {
    order: 2;
  }

  .forms__coments {
    order: 5;
  }
}

@media (max-width: 575px) {
  .container {
    padding: 0 15px;
    width: 100%;
  }
  .nav__contacts {
    display: none;
  }
  .head__link:not(:last-child) {
    margin-right: 10px;
  }
  .head__title {
    font-size: 35px;
  }

  .wrap__lists-one {
    flex-direction: column;
  }

  .wrap__lists-link:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .head__link:not(:last-child) {
    margin-right: 0;
  }
  .head__link {
    font-size: 13px;
  }
  .form-input {
    width: 100%;
  }

  .forms__data {
    width: 100%;
  }

  .forms__adress {
    width: 100%;
  }

  .forms__coments {
    width: 100%;
  }
  .forms__price {
    width: 100%;
  }

  .forms__payment-btn {
    padding: 15px 35px;
  }
}

@media (max-width: 300px) {
  .container {
    padding: 0 15px;
    width: 100%;
  }
  .head__links {
    flex-direction: column;
  }
}
