body {
  font-family: "Raleway";
  color: #000;
  padding: 0;
  margin: 0;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-weight: 500;
}
* {
  box-sizing: border-box;
}

p {
  padding: 0;
  margin: 0;
  font-weight: 500;
}

ul,
li {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #000;
}
input,
button {
  outline: none;
}

.header {
  padding-top: 51px;
  padding-bottom: 102px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  align-items: center;
  display: flex;
  text-decoration: none;
  color: #000;
  font-size: 16px;
}
.nav__bar {
  align-items: flex-end;
}
.nav__list {
  display: flex;
}
.nav__point {
  display: block;
}
.nav__point:hover {
  color: #6e9c9f;
  cursor: pointer;
}

.nav__list-link:not(:last-child) {
  margin-right: 45px;
}

.nav__img {
  margin-right: 15px;
}

.nav__contacts {
  display: flex;
  align-items: center;
}

.nav__img-tel {
  margin-right: 15px;
}
.nav__tel-box {
  margin-right: 15px;
  padding: 5px;
  border: 0;
  background: none;
}

.nav__tel-box:hover {
  background: #6e9c9f url(../img/backphone.svg) no-repeat center;
  color: #fff;
}

.nav__basket {
  margin-left: 67px;
}

.contacts-wrapper {
  display: none;
}

.on {
  display: block;
}

.contacts-wrapper__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  z-index: 1;
  background-color: #6e9c9f;
  opacity: 0.5;
}

.contacts-wrapper__window {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 491px;
  height: auto;
  z-index: 2;
  background-color: #fff;
  padding: 70px;
  transform: translate(0, -50%);
  text-align: center;
}

.contacts-wrapper__title {
  margin-bottom: 35px;
  font-size: 25px;
}

.wrapper-contacts__input {
  padding-bottom: 16px;
  border: 0;
  border-bottom: 1px solid #000;
  width: 350px;
}

.wrapper-contacts__form {
  margin-bottom: 35px;
}

.contacts-wrapper__link {
  padding: 22px 108px;
  color: #fff;
  background: #6e9c9f;
  display: block;
}

.contacts-wrapper__link:hover {
  background: #509498;
  transition: 0.5s;
}

.body-fixed {
  overflow: hidden;
  padding-right: 16px;
}

.agreed {
  display: none;
}

.ok {
  display: block;
}

.agreed__window {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 491px;
  height: 279px;
  z-index: 2;
  background: #fff;
  padding: 70px;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.agreed__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  z-index: 1;
  background-color: #6e9c9f;
  opacity: 0.5;
}

.agreed__btn {
  background: #fff;
  border: 1px solid #6e9c9f;
  padding: 22px 50px;
  margin-top: 40px;
  display: block;
  color: #6e9c9f;
}

.head {
  margin-top: 196px;
}

.head__title {
  font-weight: 500;
  font-size: 55px;
}
.head__links {
  display: flex;
  margin-top: 26px;
}

.head__link:not(:last-child) {
  margin-right: 13px;
}

.get {
  color: #909090;
}
.head__link:not(:last-child):hover {
  color: #6e9c9f;
}
.head__link:nth-of-type(3) {
  color: #919191;
}

.wrapper {
  display: flex;
}

.order {
  padding-bottom: 130px;
}

.block {
  padding: 117px 0 117px 74px;
}
.block__span:nth-of-type(1) {
  font-size: 40px;
  color: #998e78;
}

.block__span:nth-of-type(2) {
  font-size: 30px;
  color: #9c9c9c;
  text-decoration: line-through;
  margin-left: 29px;
}

.block__prices {
  margin-bottom: 59px;
}

.block__title {
  font-size: 20px;
  margin-bottom: 34px;
}

.block__sizes {
  display: flex;
  margin-bottom: 59px;
}
.block__sign {
  font-weight: 500;
  font-size: 17px;
}

.block__lable:not(:last-child) {
  margin-right: 14px;
}

.block__lable {
  display: inline-block;
}

.block__input {
  display: none;
}

.block__sign {
  display: inline-block;
  cursor: pointer;
  padding: 9px 13px;
  width: 41px;
  height: 41px;
  border: 2px solid #000;
}
.block__lable:not(:last-child) {
  margin-right: 14px;
}
.block__input:checked + .block__sign {
  background: #000;
  color: #fff;
}

.block__colors {
  display: flex;
}

.ok {
  background: #000;
  color: #fff;
}

.block__div {
  content: "";
  border-radius: 100px;
  width: 41px;
  height: 41px;
}

.block__div:not(:last-child) {
  margin-right: 14px;
}

.block__div:nth-of-type(1) {
  background: #927876;
}

.block__div:nth-of-type(2) {
  background: #d4d4d4;
  border: 1px solid #000;
}

.block__div:nth-of-type(3) {
  background: #fd9696;
}

.block__div:nth-of-type(4) {
  background: #fdc796;
}

.block__btn {
  display: flex;
  margin-top: 59px;
}

.block__number {
  border: 1px solid #998e78;
  padding: 20px 30px;
  margin-right: 11px;
  width: 68px;
}

.block__button {
  background: #6e9c9f;
  padding: 22px 50px;
  color: #fff;
  border: 0;
}

.block__button:hover {
  background: #509498;
  transition: 0.5s;
}

.goods {
  padding-bottom: 130px;
}

.relative {
  display: flex;
  margin-top: 67px;
}

.relative__think {
  text-align: center;
}

.relative__think:nth-of-type(1) {
  margin-right: 30px;
}

.relative__box {
  margin-top: 24px;
}

.relative__span {
  margin-top: 15px;
  color: #998e78;
}

.wrapper__overlay {
  opacity: 0;
  position: absolute;
  width: 350px;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #6e9c9f no-repeat center center;
  transition: 0.5;
  padding-top: 230px;
}

.relative__image {
  position: relative;
  transition: all 0.5s ease-in;
}

.wrapper__overlay:hover {
  opacity: 64%;
}

.footer {
  background: #f1eadc;
  padding-top: 101px;
  padding-bottom: 103px;
}

.wrap {
  display: flex;
  justify-content: space-between;
}

.wrap__rights-logo {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
}
.wrap__contacts {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.wrap__contacts-link {
  display: block;
  margin-bottom: 9px;
  margin-left: auto;
}
.wrap__contacts-images {
  display: flex;
  margin-top: 30px;
  margin-left: auto;
}
.wrap__contacts-img:not(:last-child) {
  margin-right: 17px;
}
.wrap__contacts-pay {
  margin-top: 31px;
}
.wrap__rigts-spans {
  margin-top: 70px;
}

.wrap__rights-span {
  display: block;
}

.wrap__rights-span:not(:last-child) {
  margin-bottom: 6px;
}

.wrap__rights-logo-img {
  margin-right: 15px;
}

.wrap__lists-one {
  display: flex;
}

.wrap__lists-link:not(:last-child) {
  margin-right: 45px;
}

.wrap__lists-link:first-child {
  color: #6e9c9f;
}

.wrap__lists-box-point {
  display: block;
  font-size: 13px;
}

.wrap__lists-point {
  display: flex;
  flex-direction: column;
  font-size: 21px;
}

.wrapp:hover {
  color: #6e9c9f;
  cursor: pointer;
  border-bottom: 1px solid #6e9c9f;
  padding-bottom: 5px;
}

.wrap__lists-box {
  margin-top: 39px;
  max-width: 67px;
}

.wrap__lists-box-point:not(:last-child) {
  margin-bottom: 10px;
}

.wrap__lists-box-point:hover {
  color: #6e9c9f;
  cursor: pointer;
}

.wrap__contacts-pay {
  width: 68px;
  height: 22px;
  margin-left: auto;
}

@media (max-width: 1199px) {
  .container {
    width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    width: 720px;
  }
  .nav__list-link:not(:last-child) {
    margin-right: 20px;
  }
  .nav__basket {
    margin-left: 35px;
  }
  .wrap__rights-logo {
    justify-content: center;
  }
  .wrap__lists-link:not(:last-child) {
    margin-right: 20px;
  }
  .wrap__lists-box {
    margin-left: 0;
  }
  .wrap {
    flex-direction: column;
    text-align: center;
  }
  .wrap__lists {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    order: 1;
  }
  .wrap__contacts-images {
    display: block;
  }
  .wrap__contacts {
    display: block;
    margin-top: 30px;
    order: 2;
  }
  .wrap__rights {
    margin-top: 30px;
    order: 3;
  }
  .wrapper__img {
    width: 380px;
    height: 600px;
  }
  .wrapper {
    align-items: center;
  }

  .block__button {
    padding: 20px 30px;
  }

  .block__number {
    padding: 20px 25px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 540px;
  }
  .nav__bar {
    display: none;
  }
  .relative__img {
    width: 240px;
  }
  .wrapper__overlay {
    width: 240px;
  }

  .wrapper__img {
    width: 250px;
    height: 400px;
  }
  .block {
    padding: 117px 0 117px 35px;
  }

  .block__sign:not(:last-child) {
    margin-right: 10px;
  }
  .block__sign {
    padding: 5px 10px;
  }
  .block__sign:nth-of-type(4) {
    padding: 5px 5px;
  }
  .block__sign:nth-of-type(5) {
    padding: 5px 5px;
  }
}

@media (max-width: 575px) {
  .container {
    padding: 0 15px;
    width: 100%;
  }
  .nav__contacts {
    display: none;
  }
  .head__link:not(:last-child) {
    margin-right: 10px;
  }
  .head__title {
    font-size: 35px;
  }

  .wrap__lists-one {
    flex-direction: column;
  }

  .wrap__lists-link:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .head__link:not(:last-child) {
    margin-right: 0;
  }
  .head__link {
    font-size: 13px;
  }

  .wrapper {
    flex-direction: column;
  }

  .block {
    padding: 60px 0px 60px 0;
  }
  .block__prices {
    margin-bottom: 30px;
  }
  .block__sizes {
    margin-bottom: 30px;
  }
  .block__btn {
    margin-top: 30px;
  }
  .order {
    padding-bottom: 80px;
  }
  .goods__title {
    text-align: center;
  }
  .relative {
    flex-direction: column;
  }
  .relative__think:nth-of-type(1) {
    margin-bottom: 30px;
    margin-right: 0;
  }
}

@media (max-width: 280px) {
  .container {
    padding: 0 15px;
    width: 100%;
  }
  .block__button {
    padding: 10px 15px;
  }
}
