body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  color: #234016;
}

ul,
li {
  display: block;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 700;
}

p {
  font-size: 16px;
  font-weight: 500;
}
* {
  box-sizing: border-box;
}

.header {
  padding-top: 95px;
  padding-bottom: 139px;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.info {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__link {
  font-weight: 600;
  font-size: 25px;
  color: #000;
  text-decoration: none;

  display: flex;
  align-items: center;
}

.info__img {
  margin-right: 10px;
}

.tel__number {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 17px;
}

.tel__number:hover {
  color: rgb(215, 109, 4);
}

.main {
  margin-top: 93px;
  display: flex;
  justify-content: space-between;
}

.content__btn {
  padding: 19px 65px;
  background: #234016;
  border: 1px solid #234016;
  border-radius: 100px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  transition: 0.5s ease;
  margin-top: 33px;
}
.content {
  width: 581px;
}
.content__btn:hover {
  background: #010604;
  transition: 0.5s ease;
}

.content__title {
  font-size: 40px;
  margin-bottom: 33px;
  margin-top: 50px;
  font-weight: 700;
}

.content__paragraph {
  margin: 0;
  width: 350px;
  font-weight: 500;
  font-size: 16px;
}

.photo {
  display: flex;
  margin-right: 46px;
}
.photo__card {
  width: 180px;
  height: 371px;
  border-radius: 100px;
  transform: matrix(0.87, 0.51, -0.49, 0.86, 0, 0);
}
.photo-card-one {
  background: url("../img/img.jpg") center;
  background-size: 700px;
}

.photo-card-two {
  background: url("../img/photo.jpg") center;
  z-index: -1;
  background-size: 700px;
}

.photo-card-two::before {
  content: "";
  background: #eeffee;
  width: 180px;
  height: 371px;
  border-radius: 100px;
  position: absolute;
  right: 100px;
  top: 100px;
}

.photo-card-two::after {
  content: "";
  background: #fbeeff;
  width: 180px;
  height: 371px;
  border-radius: 100px;
  position: absolute;
  right: 200px;
  top: 160px;
  z-index: -2;
}

.amenities {
  padding-bottom: 131px;
}

.title {
  font-weight: 700;
  font-size: 30px;
}

.box {
  display: flex;
  margin-top: 82px;
  justify-content: space-between;
}

.point {
  text-align: center;
  width: 320px;
}

.box__point-one-title {
  margin-top: 36px;
  font-weight: 700;
  font-size: 20px;
}

.box__point-two-title {
  margin-top: 29px;
  font-weight: 700;
  font-size: 20px;
}

.box__point-three-title {
  margin-top: 24px;
  font-weight: 700;
  font-size: 20px;
}

.box__point-one-paragraph {
  justify-content: left;
  font-weight: 500;
  font-size: 16px;
}

.box__point-one-paragraph {
  font-weight: 500;
  font-size: 16px;
}
.box__point-one-paragraph {
  font-weight: 500;
  font-size: 16px;
}

.link {
  text-decoration: none;
  color: #4b3cff;
}

.link:hover {
  color: rgb(215, 109, 4);
}

.block {
  margin-top: 70px;
  display: flex;
}
.image {
  border-radius: 70px;
  width: 530px;
  height: 530px;
}

.offer {
  padding: 100px 80px;
  background: #f0eeff;
  margin-left: 50px;
  border-radius: 70px;
}
.offer__title {
  font-weight: 700;
  font-size: 30px;
  width: 370px;
  line-height: 135%;
}

.offer__title-second {
  margin-top: 21px;
}

.offer__paragraph {
  margin: 0;
  margin-top: 33px;
  width: 300px;
  font-weight: 500;
  font-size: 16px;
}
.brands {
  padding-bottom: 132px;
}
.head__title {
  font-weight: 700;
  font-size: 30px;
}
.rectangle__list {
  display: flex;
  margin-top: 70px;
}

.rectangle__point:not(:last-child) {
  margin-right: 76px;
}

.footer {
  background: #234016;
  padding: 132px 0;
  color: #fff;
}

.features {
  display: flex;
  justify-content: space-between;
}
.year {
  display: flex;
  flex-direction: column;
}
.year__link {
  text-decoration: none;
  font-weight: 600;
  font-size: 25px;
  color: #fff;
  align-items: center;
  margin-left: 10px;
  display: flex;
  text-align: center;
}

.year__img {
  margin-right: 10px;
}
.year__block {
  display: flex;
  align-items: center;
}

.security {
  margin-top: 73px;
  display: flex;
  flex-direction: column;
}

.year__span {
  opacity: 0.5;

  margin-bottom: 10px;
}
.information__point:not(:last-child) {
  margin-bottom: 16px;
}
.information__point:hover {
  color: rgb(215, 109, 4);
}
.information__link {
  text-decoration: none;
  color: #fff;
}
.btn__link {
  text-decoration: none;
  background: #fff;
  border-radius: 100px;
  padding: 19px 65px;
  color: #000;
  transition: 0.5s ease;
  height: 62px;
  display: flex;
  align-items: center;
}
.btn__link:hover {
  background: #000;
  color: #fff;
  transition: 0.5s ease;
}

.contacts {
  display: flex;
  flex-direction: column;
}
.contacts__link {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 17px;
}

.contacts__link:hover {
  color: rgb(215, 109, 4);
}

.contacts__mail {
  margin-top: 10px;
  text-decoration: none;
  color: #fff;
}
.contacts__block {
  display: flex;
  flex-direction: column;
  margin-top: 59px;
}

.contacts__box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contacts__log {
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  margin-left: auto;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  max-width: max-content;
}

.contacts__btn {
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  margin-left: auto;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  max-width: max-content;
  margin-top: 10px;
}

.contacts__log:hover {
  color: rgb(215, 109, 4);
}

.contacts__btn:hover {
  color: rgb(215, 109, 4);
}

@media (max-width: 1199px) {
  .container {
    width: 960px;
    margin: 0 auto;
  }

  .rectangle__point:not(:last-child) {
    margin-right: 35px;
  }

  .offer {
    width: 455px;
    max-height: 455px;
    padding: 90px 80px;
    margin-left: 35px;
  }
  .image {
    width: 455px;
    height: 455px;
  }
  .btn {
    max-width: 100%;
  }
  .year {
    margin-right: 111px;
  }
  .btn {
    margin-left: 0;
  }
  .btn__link {
    margin-left: 111px;
    padding: 19px 61px;
  }
  .contacts {
    margin-left: 111px;
  }
  .photo {
    margin-right: 71px;
  }
  .content__title {
    font-size: 30px;
  }
  .title {
    font-size: 30px;
  }
}

@media (max-width: 991px) {
  .container {
    width: 720px;
  }
  .content {
    width: 332px;
  }
  .photo__card {
    width: 116px;
    height: 240px;
  }
  .photo-card-two::before {
    width: 116px;
    height: 240px;
    right: 70px;
    top: 76px;
  }

  .photo-card-two::after {
    width: 116px;
    height: 240px;
    right: 138px;
    top: 101px;
  }
  .photo {
    margin-right: 35px;
  }
  .box {
    flex-wrap: wrap;
  }
  .box__point-one {
    order: 3;
    margin-top: 67px;
  }
  .box__point-two {
    order: 1;
  }
  .box__point-three {
    order: 2;
  }
  .block {
    flex-direction: column;
  }
  .image {
    width: auto;
    height: 298px;
  }
  .offer {
    width: auto;
    height: 507px;
    margin-left: 0;
    margin-top: 50px;
  }
  .offer__paragraph {
    width: auto;
  }
  .rectangle__point:not(:last-child) {
    margin-right: 20px;
  }
  .img-one {
    width: 65px;
    height: 65px;
  }

  .img-two {
    width: 139px;
    height: 65px;
  }

  .img-three {
    width: 65px;
    height: 65px;
  }

  .img-four {
    width: 130px;
    height: 65px;
  }

  .img-five {
    width: 130px;
    height: 65px;
  }

  .img-six {
    width: 65px;
    height: 65px;
  }

  .features {
    flex-direction: column;
  }
  .year {
    flex-direction: row;
    justify-content: space-between;
    margin-right: 0;
  }
  .year__span {
    margin-top: 0;
  }
  .security {
    display: flex;
    flex-direction: column;
  }

  .information__list {
    display: flex;
    margin-bottom: 52px;
    margin-top: 51px;
  }

  .information__point:not(:last-child) {
    margin-right: 45px;
  }
  .btn__link {
    margin-left: 0;
    max-width: 225px;
  }
  .btn {
    margin-top: 51px;
  }
  .contacts {
    margin-top: 51px;
    margin-left: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .contacts__btn {
    margin-left: 0;
  }
  .contacts__log {
    margin-left: 0;
    margin-top: 0;
  }
  .contacts__block {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }
  .contacts__box {
    display: flex;
    flex-direction: column;
  }
  .security {
    margin-top: 0;
  }
  .content__title {
    font-size: 30px;
  }
  .title {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 540px;
  }
  .main {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
  }
  .content {
    order: 2;
    text-align: center;
    width: auto;
  }
  .photo {
    order: 1;
  }
  .content__paragraph {
    width: auto;
  }
  .title {
    text-align: center;
  }
  .box {
    justify-content: center;
  }
  .point:not(:first-child) {
    margin-top: 35px;
  }
  .offer {
    text-align: center;
  }

  .rectangle__list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .rectangle__point:not(:last-child) {
    margin-right: 35px;
  }
  .rectangle__point:nth-of-type(5) {
    margin-top: 50px;
  }
  .rectangle__point:nth-of-type(6) {
    margin-top: 50px;
  }
  .box__point-one {
    order: 1;
  }
  .box__point-two {
    order: 2;
  }
  .box__point-three {
    order: 3;
  }
  .content__title {
    font-size: 30px;
  }
  .title {
    font-size: 30px;
  }
}
@media (max-width: 575px) {
  .container {
    padding: 0 15px;
    width: 100%;
  }
  .tel {
    display: none;
  }
  .logo {
    text-align: center;
  }
  .info {
    justify-content: space-between;
    align-items: center;
  }
  .photo {
    justify-content: center;
    margin-right: 0;
  }
  .photo__card {
    width: 91px;
    height: 209px;
  }
  .photo-card-two::before {
    width: 91px;
    height: 209px;
    right: 42px;
    top: 58px;
  }
  .photo-card-two::after {
    width: 91px;
    height: 209px;
    right: 100px;
    top: 78px;
  }

  .offer {
    padding: 30px;
    height: auto;
  }
  .offer__title {
    max-width: none;
    width: 100%;
  }

  .rectangle__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .rectangle__point:not(:first-child) {
    margin-top: 30px;
    margin-right: 0;
  }
  .rectangle__point:first-child {
    margin-right: 0;
  }

  .head__title {
    text-align: center;
  }
  .features {
    text-align: center;
  }
  .year {
    margin-right: 0;
    flex-direction: column;
    align-items: center;
  }
  .year__block {
    display: block;
  }
  .security {
    margin-top: 24px;
  }
  .information {
    margin-top: 50px;
  }
  .information__list {
    display: flex;
    flex-direction: column;
  }
  .information__point:not(:last-child) {
    margin-right: 0;
    margin-bottom: 16px;
  }
  .btn__link {
    margin: 0 auto;
  }
  .contacts__box {
    justify-content: center;
    align-items: center;
  }
  .content__title {
    font-size: 30px;
  }
  .title {
    font-size: 30px;
  }
}

@media (max-width: 575px) {
  .contacts {
    display: flex;
    flex-direction: column;
  }
  .contacts__block {
    margin-top: 20px;
    align-items: center;
  }

  .photo__card {
    width: 81px;
    height: 191px;
  }
  .photo-card-two::before {
    width: 81px;
    height: 191px;
  }
  .photo-card-two::after {
    width: 81px;
    height: 191px;
    right: 88px;
    top: 66px;
  }
  .tel__number {
    display: none;
  }

  .image {
    object-fit: cover;
  }
  .offer {
    max-height: none;
  }
  .content__btn {
    padding: 19px 31px;
  }
  .info {
    justify-content: center;
  }
  .content__title {
    font-size: 30px;
  }
  .title {
    font-size: 30px;
  }
}
