body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
}

ul,
li {
  display: block;
  margin: 0;
  padding: 0;
}

h1 h2 h3 h4 h5 h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.header {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 1.39%,
      rgba(54, 207, 255, 0.23) 44.44%
    ),
    url("../img/picture.jpg") no-repeat center top / cover;
  color: #fff;
  text-align: center;
  padding: 90px 0 80px;
}

.container {
  margin: 0 auto;
  width: 1140px;
}

.logo {
  display: flex;
  text-align: center;
  margin-bottom: 201px;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.logo__img {
  font-weight: 500;
  font-size: 22px;
  padding-left: 500px;
}

.nav__paragraph {
  border: 1px solid white;
  border-radius: 78px;
  background-color: #fff;
  color: black;
  font-weight: 800;
  font-size: 15px;
  text-transform: uppercase;
  padding: 8px 17px;
  gap: 24px;
  display: inline-block;
}

.nav__title {
  margin: 0;
  margin-top: 24px;
  font-weight: 800;
  font-size: 60px;
  text-transform: uppercase;
}

.nav__hint {
  margin-top: 24px;
  font-weight: 500;
  font-size: 20px;
}

.nav__btn {
  color: #fff;
  margin-top: 24px;
  background-color: #ff7e36;
  border: 1px solid #ff7e36;
  display: inline-block;
  text-decoration: none;
}

.btn {
  font-weight: 800;
  font-size: 16px;
  border-radius: 119px;
  padding: 18px 52px;
  text-decoration: none;
}

.arrow {
  margin-top: 217px;
  display: inline-block;
}
.info {
  padding-top: 143px;
}

.section-title {
  text-align: center;
  margin: 0;
  font-weight: 800;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #304041;
}

.offer {
  margin-top: 100px;
  display: flex;
  background: #eaf4f7;
}
.offer-cont {
  padding: 112px 70px 112px 73px;
}

.offer__paragraph {
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  color: #789aa0;
  display: inline-block;
  margin-bottom: 20px;
}

.offer__title {
  margin: 0;
  font-weight: 800;
  font-size: 24px;
  text-transform: uppercase;
  color: #304041;
}
.offer__info:not(:last-child) {
  margin-bottom: 20px;
}
.offer__div {
  margin-top: 40px;
}

.offer__info {
  font-weight: 500;
  font-size: 15px;
}

.offer__arrow {
  margin-top: 47.5px;
  display: inline-block;
}
.offer-image img {
  width: 476px;
  height: 649px;
}

.circle {
  text-align: center;
  margin: 0 auto;
  border: 1px solid #5f51ff;
  background-color: #fff;
  margin-top: 108px;
  color: #5f51ff;
  display: block;
  max-width: max-content;
}

.opportunities {
  padding-top: 146px;
}
.section-title-second {
  font-weight: 800;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 93px;
  color: #304041;
}

.box {
  background: #fff url("../img/photooftok.jpg") no-repeat right top/50%;
  padding: 150px 0;
  text-align: left;
}
.box__point:before {
  content: "";
  display: block;
  background: #4eb1b6;
  border-radius: 23px;
  width: 64px;
  height: 7px;
  margin-bottom: 15px;
}
.box__point {
  font-weight: 500;
  font-size: 16px;
}

.box__point:not(:last-child) {
  margin-bottom: 61px;
}

.box__wrapper {
  max-width: 407px;
}

.footer {
  padding: 147px 0 165px;
}

.container-down {
  display: flex;
}

.container__support {
  margin-right: 60px;
  font-weight: 500;
  font-size: 14px;
  color: #5c7677;
}
